<ion-view view-title="About Us">
  <ion-content class="aboutUs-page">
  	<div class="row responsive-md">
        <div class="col col-50 col-offset-25">
			<div class="item item-image">
				<img src="img/About-Us1.jpg">
			</div>
		   	<md-list flex>
				<md-list-item ng-click="null">
						<div class="list">
						  <a class="item balanced md-button-contact about-heading">
						    <i class="ion-arrow-down-b"></i>
						    Who we are
					 	  </a>
					 	  <div class="item item-body md-button-contact">
						    <span>
						      Just Get Offloaded !
							  Bag2Bag features same day pick-up/drop-off service for luggage through mobile booking app providing real time monitoring of vehicle.<br>
							  <p>Getting bored as you have arrived early before catching your flight, Train or bus to your destination city and want to get insights of the city hassle-free but could not do so as you have your heavy luggage and don’t trust cloak rooms available at train station or bus stand hence for customers feasibility ‘Bag2Bag’ is your friendly companion that allows users to book their luggage with a single tap on the app and the entire luggage will be hand picked up and delivered with full safety and security without any damage at any destination with in a city within a stimulated time as we believe “service delayed is service denied".</p>
						    </span>
						  </div>
						  <a class="item balanced md-button-contact about-heading">
						    <i class="ion-arrow-down-b"></i>
						    Company Overview
					 	  </a>
					 	  <div class="item item-body md-button-contact">
						    <span>
						      If God meant for us to carry luggage around, he would have made our skin have little pouches like kangaroos Or maybe each one of us were born with huge shoulders to carry the load. Clearly, we weren’t made to carry the weight hence we thought to reduce this through our App Bag2Bag so that customers can move hassle free.
						    </span>
						  </div>
						  <a class="item balanced md-button-contact about-heading">
						    <i class="ion-arrow-down-b"></i>
						    Our Mission
					 	  </a>
					 	  <div class="item item-body md-button-contact">
						    <span>
						      Why haul your luggage around when you can have us to do that for you? We provide pick up and drop off service with custom designed vehicle for safe storage. Go embark on your very own journey through the city.
						    </span>
						  </div>
					</div>			
				</md-list-item>  
			</md-list flex>  
		</div>
	</div>		
  </ion-content>
</ion-view>