<ion-view view-title="About Us">
  <ion-content class="aboutUs-page">
   	<div class="item item-image">
	    <img src="img/About-Us1.jpg">
	</div>
   	<md-list flex>
		<md-list-item ng-click="null">
				<div class="list">
				  <a class="item assertive">
				    <i class="ion-arrow-right-b"></i>
				    Who we are
			 	  </a>
			 	  <div class="item item-body">
				    <p>
				      This is a "ProjectX" styled Card. The header is created from a Thumbnail List item,
				      the content is from a card-body consisting of an image and paragraph text. The footer
				      consists of tabs, icons aligned left, within the card-footer.
				    </p>
				  </div>
				  <a class="item assertive">
				    <i class="ion-arrow-right-b"></i>
				    Our Mission
			 	  </a>
			 	  <div class="item item-body">
				    <p>
				      This is a "ProjectX" styled Card. The header is created from a Thumbnail List item,
				      the content is from a card-body consisting of an image and paragraph text. The footer
				      consists of tabs, icons aligned left, within the card-footer.
				    </p>
				  </div>
			</div>			
		</md-list-item>  
	</md-list flex>  
    </div>
  </ion-content>
</ion-view>