<ion-view view-title="My Profile">
  <ion-content class="signUp-page">
   	<div class="card booking-box tmargin">
   		<div class="item-input-inset date-time-select">
            <i class="ion-android-person all_icon"></i> 
            <label class="item item-input item-md-label profile-text-label" placeholder="Name">
               <input class="select-date-time" type="text"/>
               <span class="input-label lbl_span-field">Name</span>
            </label>
        </div> 
	    <div class="item-input-inset date-time-select">
            <i class="ion-android-mail all_icon"></i>
            <label class="item item-input item-md-label profile-text-label" placeholder="Email ID">
               <input class="select-date-time" type="email"/>
               <span class="input-label lbl_span-field">Email ID</span>
            </label>
        </div>
	    <div class="item-input-inset date-time-select">
            <i class="ion-android-phone-portrait all_icon"></i>
            <label class="item item-input item-md-label profile-text-label" placeholder="Mobile Number">
               <input class="select-date-time" type="text"/>
               <span class="input-label lbl_span-field">
                  Mobile Number</span>
            </label>
        </div>       
   	</div>
  </ion-content>
</ion-view>