<ion-view view-title="Booking">
	<ion-content class="bg_booking_page">
		<div class="card" style="margin-top:16px;">
			<ion-slide-box class="slides" auto-play="true" show-pager="true" does-continue="true" on-slide-changed="slideHasChanged($index)">
		   	   	<ion-slide>
			        <img class="slide-img" src="img/bng_palace.jpg" style="height:100px; width:100%;"/>
			    </ion-slide>
			   	<ion-slide>
			        <img class="slide-img" src="img/bnrgattaNtnlPark.png" style="height:100px; width:100%;"/>
			    </ion-slide>
		    	<ion-slide>
			        <img class="slide-img" src="img/ITPark.jpg" style="height:100px; width:100%;"/>
			    </ion-slide>
		    	<ion-slide>
			        <img class="slide-img" src="img/tirupati4.jpg" style="height:100px; width:100%;"/>
			    </ion-slide>
		    	<ion-slide>
			        <img class="slide-img" src="img/Nandi-Hills.jpg" style="height:100px; width:100%;"/>
			    </ion-slide>
		    </ion-slide-box>
		</div>
		
		<!-- <div class="select-city cur-pointer" ng-click="showCityPopUP()">
			<i class="ion-android-locate secondary-text-color"></i>
    		<label class="text-booking-page" ng-hide="booking.city">
    			Select City</label> 
    		<span style="color: #727272;margin-left:21px;margin-top:-25px;font-size: 15px;" ng-show="booking.city"><strong>{{booking.city.name}}</strong>
    		</span>
		</div> -->
		<div class="card" style="margin-top:16px;">
		    <md-list flex>
				<md-list-item class="md-1-line" ng-click="null;toggleCityRight()">
				    <i class="ion-ios-home-outline secondary-text-color" style="font-size:20px; color:#000; margin-top:24px;"></i>&nbsp;
		            <div class="md-list-item-text" layout="column" ng-hide="isOpenRight(cityComponentId)">
		            	<label class="label-city-text">Pickup / Drop City</label>
		            	<span class="text-booking-page" ng-hide="booking.city">Select City</span><span class="text-booking-page" ng-show="booking.city">{{booking.city.name}}</span>
		            </div>
		        </md-list-item>
			</md-list flex>
		</div>
		<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="cityRight">
	      <md-content layout-padding>
	        <form>
	          <md-list flex>
	             <md-list-item ng-click="close(cityComponentId); booking.city=city; getStreets(city.id)" class="md-primary 		md_sidenav" ng-repeat="city in refData.	cities">
		          <i class="ion-ios-location-outline"></i> &nbsp;&nbsp;{{city.name}}
		        </md-list-item>
	           </md-list>
	        </form>
	      </md-content>
	    </md-sidenav>
	    <div class="card" style="margin-top:16px;">
			<md-list flex>					
				<md-list-item class="md-1-line" ng-click="null;togglePickupStreetRight()" ng-hide="isOpenRight(streetComponentId)" ng-disabled="!booking.city">
				    <i class="ion-ios-home-outline secondary-text-color" style="font-size:20px; color:#000; margin-top:15px;"></i>&nbsp;
		            <div class="md-list-item-text" layout="column" ng-hide="isOpenRight(cityComponentId)" style="margin-bottom:10px;">
		            	<label class="label-city-text">Pickup Street / Landmark</label>
		            	<span class="text-booking-page" ng-hide="booking.pickupDetail.street">Select Street/Landmark</span>
		            	<span class="text-booking-page" ng-show="booking.pickupDetail.street">{{booking.pickupDetail.street.name}} / {{booking.pickupDetail.substreet.name}}</span>
		            </div>
		        </md-list-item>	
		        <div class="border-bottom-div"></div>

		        <div style="margin-left:15px;padding-bottom:35px;">
					<h5>Select No. of Bags</h5>
					<md-radio-group ng-model="booking.itemCount">
					    <md-radio-button value="1" style="float:left;margin-right:10px;">1</md-radio-button>
					    <md-radio-button value="2" style="float:left;margin-right:10px;">2</md-radio-button>
					    <md-radio-button value="3" style="float:left;margin-right:10px;">3</md-radio-button>
					    <md-radio-button value="4" style="float:left;margin-right:10px;">4</md-radio-button>
					    <md-radio-button value="5" style="float:left;margin-right:10px;">5</md-radio-button>
				    </md-radio-group>
				</div>
				<div class="border-bottom-div"></div>
				<md-list-item class="md-1-line">
					<md-input-container class="md-datetime-input">
				        <label class="col datetime-label">Pickup Date/Time</label>
					        <input mdc-datetime-picker date = "true" time = "true" type = "text"
					            placeholder = "Select Date & Time"
					            min-date = "refData.pickupMinDate"
					            max-date = "refData.pickupMaxDate"
					            ng-model = "booking.pickupDetail.date"
					            short-time = "true"
					            format = "dddd, DD-MMM-YYYY, hh:mm a" ng-class="{'date-input-tag': !isDatePlaceholder,'placeholder-date-input-tag': isDatePlaceholder}" class="md-input cur-pointer" style="margin-bottom:10px;"/>
				    </md-input-container>
				</md-list-item>
			</md-list flex>
	    </div>
	    
		<md-sidenav class="md-sidenav-right md-whiteframe-4dp md_sidenav" md-component-id="streetRight">
	      <md-content layout-padding>
	        <form>
	          <md-list flex>
	             <div class="md-primary" ng-repeat="street in refData.streets">
	          		<md-list-item ng-repeat="substreet in street.substreets" ng-click="close(streetComponentId);booking.pickupDetail.street=street;booking.pickupDetail.substreet=substreet;" >
	      				<label class="item item-input item-stacked-label subStreets">
	      				 	<span class="col input-label cur-pointer"><h3 class="streets-h3"> {{street.name}} </h3></span>
	      					<span class="col cur-pointer"><h5>{{substreet.name}}</h5></span>
	      				</label>	
	      			</md-list-item>
		        </div>
	           </md-list>
	        </form>
	      </md-content>
	    </md-sidenav>

	    <div class="card" style="margin-top:16px;">
			<md-list flex>					
				<md-list-item class="md-1-line" ng-click="null;toggleDropStreetRight()" ng-hide="isOpenRight(streetComponentId)" ng-disabled="!booking.city">
				    <i class="ion-ios-home-outline secondary-text-color" style="font-size:20px; color:#000; margin-top:15px;"></i>&nbsp;
		            <div class="md-list-item-text" layout="column" ng-hide="isOpenRight(cityComponentId)" style="margin-bottom:10px;">
		            	<label class="label-city-text">Drop Street / Landmark</label>
		            	<span class="text-booking-page" ng-hide="booking.dropDetail.street">Select Drop Street/Landmark</span>
		            	<span class="text-booking-page" ng-show="booking.dropDetail.street">{{booking.dropDetail.street.name}} / {{booking.dropDetail.substreet.name}}</span>
		            </div>
		        </md-list-item>
				<div class="border-bottom-div"></div>
				<md-list-item class="md-1-line">
					<md-input-container class="md-datetime-input">
				        <label class="col datetime-label">Drop Date/Time</label>
					        <input mdc-datetime-picker date = "true" time = "true" type = "text"
					            placeholder = "Select Date & Time"
					            min-date = "refData.dropMinDate"
					            max-date = "refData.dropMaxDate"
					            ng-model = "booking.dropDetail.date"
					            short-time = "true"
					            ng-disabled = "isDropDateDisabled"
					            format = "dddd, DD-MMM-YYYY hh:mm a" ng-class="{'date-input-tag': !isDropDatePlaceholder,'placeholder-date-input-tag': isDropDatePlaceholder}" class="md-input cur-pointer" style="margin-bottom:10px;"/>
				    </md-input-container>
				</md-list-item>
			</md-list flex>
	    </div>
	    <div class="card">
    		<md-list flex>
    			<md-list-item class="md-1-line">
    				<label class="item item-input mob-coupon-code-label" style="margin-top: -18px;">
					   <i class="ion-android-phone-portrait secondary-text-color" style="font-size:18px;"></i>
					   <input ng-model="booking.number" class="mob-coupon-code-input" type="text" placeholder="Mobile Number" style="left:7px;"/> 
					</label>
    			</md-list-item>
    			<!-- <md-list-item class="md-1-line">
    				<div class="col">
					  <label class="item item-input mob-coupon-code-label">
					    <input ng-model="booking.coupon" class="mob-coupon-code-input" type="text" placeholder="Enter Coupon Code here"/>
					  </label>
					</div>
    			</md-list-item> -->
    		</md-list flex>
	    </div>

		<!-- <div style="margin-left:15px;">
			<h5>Select No. of Bags</h5>
			<md-radio-group ng-model="booking.itemCount">
			    <md-radio-button value="1" style="float:left;margin-right:10px;">1</md-radio-button>
			    <md-radio-button value="2" style="float:left;margin-right:10px;">2</md-radio-button>
			    <md-radio-button value="3" style="float:left;margin-right:10px;">3</md-radio-button>
			    <md-radio-button value="4" style="float:left;margin-right:10px;">4</md-radio-button>
			    <md-radio-button value="5" style="float:left;margin-right:10px;">5</md-radio-button>
		    </md-radio-group><br>
		    <div class="col" ng-show="booking.itemCount">Selected No. of Items: {{ booking.itemCount }}</div>
		</div> -->
		<!-- <div style="margin-left:15px;">
			<md-input-container class="md-datetime-input">
		        <label class="datetime-label">Pickup Date/Time {{booking.pickupDetail.date | date:'MMM'}}</label>
		        <input mdc-datetime-picker date = "true" time = "true" type = "text"
		               placeholder = "Select Date & Time"
		               min-date = "refData.pickupMinDate"
		               max-date = "refData.pickupMaxDate"
		               ng-model = "booking.pickupDetail.date"
		               short-time = "true"
		               format = "YYYY"/> <span style="font-size:25px;">{{booking.pickupDetail.date | date:'MMM'}}</span> 
		               <span style="font-size:25px;">{{booking.pickupDetail.date | date:'dd' | ordinal}} </span><br>
		               <span style="font-size:25px;">{{booking.pickupDetail.date | date:'HH:mm'}}</span>
		               <span style="font-size:25px;">{{booking.pickupDetail.date | date:'a'}}</span>
		    </md-input-container>
		</div> -->
		<!-- <div class="item-divider">
		   <i class="ion-ios-location text-primary-color booking_icon"></i> 
		   <span class="booking_text_divider">Drop Point</span>
		</div> -->
		<!-- <div class="select-city cur-pointer pickup-drop-details" ng-click="showDropStreetPopUP()" style="margin-bottom: 12px;">
		    <i class="ion-android-locate secondary-text-color"></i>
     		<label class="text-booking-page" ng-hide="booking.dropDetail.street">Select Street/Landmark</label>
	    	 <h5 style="color: #727272;margin-left:21px;margin-top:-18px;font-weight: normal;" ng-show="booking.dropDetail.street">
	    	 	<strong>{{booking.dropDetail.street.name}} / {{booking.dropDetail.substreet.name}}</strong>
	    	 </h5>
		</div> -->
		<!-- <md-list flex>
			<md-list-item class="md-1-line" ng-click="null;toggleDropStreetRight()" ng-hide="isOpenRight(dropStreetComponentId)"
             ng-disabled="!booking.city">
			    <i class="ion-android-locate secondary-text-color"></i>&nbsp;
	            <div class="md-list-item-text col-offset-10" layout="column" ng-hide="isOpenRight(cityComponentId)">
	            	<span ng-hide="booking.dropDetail.street">Select Street/Landmark</span>
	            	<span ng-show="booking.dropDetail.street">{{booking.dropDetail.street.name}} / {{booking.dropDetail.substreet.name}}</span>
	            </div>
	        </md-list-item>
		</md-list flex> -->

		<!-- <md-button ng-click="toggleDropStreetRight()"
            ng-hide="isOpenRight(dropStreetComponentId)"
            class="md-primary" ng-disabled="!booking.city">
            <span ng-hide="booking.dropDetail.street">Select Street/Landmark</span><span ng-show="booking.dropDetail.street">{{booking.dropDetail.street.name}} / {{booking.dropDetail.substreet.name}}</span>
        </md-button> -->

		<md-sidenav class="md-sidenav-right md-whiteframe-4dp md_sidenav" md-component-id="dropStreetRight">
	      <md-content layout-padding>
	        <form>
	          <md-list flex>
	            <div class="md-primary" ng-repeat="street in refData.streets">
	          		<md-list-item ng-repeat="substreet in street.substreets" ng-click="close(dropStreetComponentId);booking.dropDetail.street=street;booking.dropDetail.substreet=substreet;" >
	      				<label class="item item-input item-stacked-label subStreets">
	      				 	<span class="col input-label cur-pointer"><h3 class="streets-h3"> {{street.name}} </h3></span>
	      					<span class="col cur-pointer"><h5>{{substreet.name}}</h5></span>
	      				</label>	
	      			</md-list-item>
		        </div>
	           </md-list>
	        </form>
	      </md-content>
	    </md-sidenav>	   
	</ion-content>
	<ion-footer-bar align-title="left" class="bar-balanced">
	  <div class="col col-50">
	    <span class="footer_estimate_price">
	    	<a class="text-primary-color text_underline" ui-sref="main.estimatePrice">Estimate Rate</a>
	    </span>
	  </div>
	  <div class="col col-50">
	    <span class="footer_booknow">
	    	<a class="text-primary-color text_underline" href="" ng-click="submitBookingForm()">Book Now</a>
	    </span>
	  </div>
	  <div class="buttons buttons-right">
	    <button class="button button-fab button-bar-balanced" ui-sref="main.pricing">
	    	<i class="fa fa-inr font-inr"></i>
	    </button>
	  </div>
	</ion-footer-bar>
</ion-view>