<ion-view view-title="Contact">
  <ion-content class="contact-page">
    <div class="list card">
    	<div class="item item-avatar">
    		<img src="img/avatar_2x.png">
	        <h2 class="calm">Contact Us</h2>
    	</div>
    	<div class="item item-image">
			<img src="img/Contact-Us__1_2.jpg">
		</div> 
		<a href="#" class="item item-icon-left">
		    <i class="icon ion-home assertive"></i>
		    Address
		</a>
		<a href="#" class="item item-icon-left">
		    <i class="icon ion-ios-telephone assertive"></i>
		   888-888-8888
		</a>
		<a href="#" class="item item-icon-left">
		    <i class="icon ion-at assertive"></i>
		    Email Id
		</a>
    </div>
  </ion-content>
</ion-view>