<ion-view view-title="Contact">
  <ion-content class="contact-page">
    <div class="list card">
    	<div class="item item-avatar">
    		<img src="img/avatar_2x.png">
	        <h2 class="calm" style="color:#8a6de9;">Contact Us</h2>
    	</div>
    	<div class="item item-image">
			<img src="img/Contact-Us__1_2.jpg">
		</div> 
		<!-- <a href="#" class="item item-icon-left">
		    <i class="icon ion-home assertive"></i>
		    Address
		</a>
		<a href="#" class="item item-icon-left">
		    <i class="icon ion-ios-telephone assertive"></i>
		   888-888-8888
		</a>
		<a href="#" class="item item-icon-left">
		    <i class="icon ion-at assertive"></i>
		    Email Id
		</a> -->
		 <section id="cd-timeline" class="cd-container" style="width:94%;">
      <div class="cd-timeline-block">
    	<div class="cd-timeline-icon text-center royal">
    		<i class="icon ion-home timelineIcon"></i>
    	</div>
    	<div class="cd-timeline-content padding royal">
    		<h5 class="marginBottom0 marginTop0">Address</h5>
    		<p class="marginTop5 cd-author">BTM Layout, 16th main</p>
    	</div>
      </div>
      <div class="cd-timeline-block">
    	<div class="cd-timeline-icon text-center royal">
    		<i class="icon ion-ios-telephone timelineIcon"></i>
    	</div>
    	<div class="cd-timeline-content padding royal">
    		<h5 class="marginBottom0 marginTop0">Phone</h5>
    		<p class="marginTop5 cd-author">888-888-8888</p>
    	</div>
      </div>
      <div class="cd-timeline-block">
    	<div class="cd-timeline-icon text-center royal">
    		<i class="icon ion-at timelineIcon"></i>
    	</div>
    	<div class="cd-timeline-content padding royal">
    		<h5 class="marginBottom0 marginTop0">Email</h5>
    		<p class="marginTop5 cd-author">888-888-8888</p>
    	</div>
      </div>
    </section>
    </div>

    
  </ion-content>
</ion-view>