<ion-view view-title="Estimated Price">
	<ion-content class="signUp-page">
	   		<!-- City Section -->
		<div class="select-city cur-pointer" ng-click="showCityPopUP()">
			<div class="col-offset-33">
				<i class="ion-ios-search-strong"></i>
		    	<span class="cur-pointer">
		    		<span ng-hide="estimate.city">Please Select City</span> <span ng-show="estimate.city"><strong>{{estimate.city.name}}</strong></span>
	     		</span>
			</div>
		</div>
				<!-- <md-list flex>					
			<md-list-item class="md-1-line" ng-click="null">
				<div class="row md-list-item-text">
					<div class="col col-offset-10">
						<span class="col estimate-pricing-span" ng-show="refData.rate">
							Charges for 0-15Kg: <strong>{{refData.rate.zeroToFifCount}} Rs.</strong></span>
						<span class="col estimate-pricing-span" ng-show="refData.rate">
							Charges for 15-30Kg: <strong>{{refData.rate.fifToThirCount}} Rs.</strong></span>
						<span class="col estimate-ion_list" ng-show="refData.rate">
							Charges for above 30Kg: <strong>{{refData.rate.aboveThirty}} Rs.</strong></span>
					</div>
				</div>
			</md-list-item>	
		</md-list flex>	 -->				
		<md-list-item class="md-3-line" ng-click="null">
			<div class="col-offset-10" style="border-bottom:1px solid gainsboro;" 
				ng-show="refData.rate">
				<h5>Select Number of Items between<strong>1kg - 15kg </strong></h5>
				<md-radio-group  ng-model="estimate.zeroToFif">
				    <md-radio-button ng-value="0" style="float:left;margin-right:10px;">
				    0</md-radio-button>
				    <md-radio-button ng-value="1" style="float:left;margin-right:10px;">
				    1</md-radio-button>
				    <md-radio-button ng-value="2" style="float:left;margin-right:10px;">
				    2</md-radio-button>
				    <md-radio-button ng-value="3" style="float:left;margin-right:10px;">
				    3</md-radio-button>
				    <md-radio-button ng-value="4" style="float:left;margin-right:10px;">
				    4</md-radio-button>
				    <md-radio-button ng-value="5" style="float:left;margin-right:10px;">
				    5</md-radio-button>
			    </md-radio-group>
			</div>
        </md-list-item>	
		<md-list-item class="md-3-line" ng-click="null">
			<div class="col-offset-10" style="border-bottom:1px solid gainsboro;" 
				ng-show="refData.rate">
				<h5> Select Number of Items between <strong>15kg - 30kg</strong></h5>
				<md-radio-group ng-model="estimate.fitToThirty">
				    <md-radio-button ng-value="0" style="float:left;margin-right:10px;">
				    0</md-radio-button>
				    <md-radio-button ng-value="1" style="float:left;margin-right:10px;">
				    1</md-radio-button>
				    <md-radio-button ng-value="2" style="float:left;margin-right:10px;">
				    2</md-radio-button>
				    <md-radio-button ng-value="3" style="float:left;margin-right:10px;">
				    3</md-radio-button>
				    <md-radio-button ng-value="4" style="float:left;margin-right:10px;">
				    4</md-radio-button>
				    <md-radio-button ng-value="5" style="float:left;margin-right:10px;">
				    5</md-radio-button>
			    </md-radio-group>
			</div>
		</md-list-item>
		<md-list-item class="md-3-line" ng-click="null">
			<div class="col-offset-10" style="border-bottom:1px solid gainsboro;"
			    ng-show="refData.rate">
				<h5> Select Number of Items above <strong>30kg</strong></h5>
				<md-radio-group ng-model="estimate.aboveThirty">
				    <md-radio-button ng-value="0" style="float:left;margin-right:10px;">
				    0</md-radio-button>
				    <md-radio-button ng-value="1" style="float:left;margin-right:10px;">
				    1</md-radio-button>
				    <md-radio-button ng-value="2" style="float:left;margin-right:10px;">
				    2</md-radio-button>
				    <md-radio-button ng-value="3" style="float:left;margin-right:10px;">
				    3</md-radio-button>
				    <md-radio-button ng-value="4" style="float:left;margin-right:10px;">
				    4</md-radio-button>
				    <md-radio-button ng-value="5" style="float:left;margin-right:10px;">
				    5</md-radio-button>
			    </md-radio-group>
			</div>
		</md-list-item>	
		
		<div layout="row" ng-show="refData.rate">
			  <div flex flex-order="-1" class="estimatefirst_table1">
			    <span hide-gt-md style="padding-left:5px;">Weight</span><br>
			    <span show-gt-md style="padding-left:5px;">in</span>
			    <span show-gt-md style="padding-left:5px;">(kg)</span>
			  </div>
			  <div flex flex-order="1" flex-order-gt-md="3" class="estimatefirst_table1">
			    <span hide-gt-md>Charges</span>
			    <span show-gt-md>in</span>
			    <span show-gt-md>(Rs/kg)</span>
			  </div>
			  <div flex flex-order="2" class="estimatefirst_table1">
			    <span>No. of Bags</span>
			  </div>
			  <div flex flex-order="3" flex-order-gt-md="1" class="estimatefirst_table1">
			    <span hide-gt-md>Total</span>
			    <!-- <p hide show-gt-md>[flex-order-gt-md="1"]</p> -->
			  </div>
		</div>
		<div layout="row" class="estimate_table_border" ng-show="refData.rate">
			  <div flex flex-order="-1" class="estimatefirst_table">
			    <span>0-15</span>
			  </div>
			  <div flex flex-order="1" flex-order-gt-md="3" class="estimatefirst_table">
			    <span hide-gt-md>{{refData.rate.zeroToFifCount}}</span>
			    <!-- <p hide show-gt-md>[flex-order-gt-md="3"]</p> -->
			  </div>
			  <div flex flex-order="2" class="estimatefirst_table">
			    <span>{{estimate.zeroToFif}}</span>
			  </div>
			  <div flex flex-order="3" flex-order-gt-md="1" class="estimatefirst_table">
			    <span hide-gt-md>{{refData.rate.zeroToFifCount * estimate.zeroToFif}}</span>
			    <!-- <p hide show-gt-md>[flex-order-gt-md="1"]</p> -->
			  </div>
		</div>
		<div layout="row" class="estimate_table_border" ng-show="refData.rate">
			  <div flex flex-order="-1" class="estimatefirst_table2">
			    <span>15-30</span>
			  </div>
			  <div flex flex-order="1" flex-order-gt-md="3" class="estimatefirst_table2">
			    <span hide-gt-md>{{refData.rate.fifToThirCount}}</span>
			    <!-- <p hide show-gt-md>[flex-order-gt-md="3"]</p> -->
			  </div>
			  <div flex flex-order="2" class="estimatefirst_table2">
			    <span>{{estimate.fitToThirty}}</span>
			  </div>
			  <div flex flex-order="3" flex-order-gt-md="1" class="estimatefirst_table2">
			    <span hide-gt-md>{{refData.rate.fifToThirCount * estimate.fitToThirty}}</span>
			    <!-- <p hide show-gt-md>[flex-order-gt-md="1"]</p> -->
			  </div>
		</div>
		<div layout="row" class="estimate_table_border" ng-show="refData.rate">
			  <div flex flex-order="-1" class="estimatefirst_table3">
			    <p>Above 30</p>
			  </div>
			  <div flex flex-order="1" flex-order-gt-md="3" class="estimatefirst_table3">
			    <p hide-gt-md>{{refData.rate.aboveThirty}}</p>
			    <!-- <p hide show-gt-md>[flex-order-gt-md="3"]</p> -->
			  </div>
			  <div flex flex-order="2" class="estimatefirst_table3">
			    <p>{{estimate.aboveThirty}}</p>
			  </div>
			  <div flex flex-order="3" flex-order-gt-md="1" class="estimatefirst_table3">
			    <p hide-gt-md>{{refData.rate.aboveThirty * estimate.aboveThirty}}</p>
			    <!-- <p hide show-gt-md>[flex-order-gt-md="1"]</p> -->
			  </div>
		</div>
		<!-- <div class="row estimate-ion_row" ng-show="refData.rate">
			<div class="col">
				<span class="estimate-pricing-span"> Select Number of Items between <strong>1kg - 15kg</strong>
				</span>
				<ion-list class="estimate-ion_list">
				  <ion-radio class="estimate-ion-radio" ng-model="estimate.zeroToFif" ng-value="0">0</ion-radio>
				  <ion-radio class="estimate-ion-radio" ng-model="estimate.zeroToFif" ng-value="1">1</ion-radio>
				  <ion-radio class="estimate-ion-radio" ng-model="estimate.zeroToFif" ng-value="2">2</ion-radio>
				  <ion-radio class="estimate-ion-radio" ng-model="estimate.zeroToFif" ng-value="3">3</ion-radio>
				  <ion-radio class="estimate-ion-radio" ng-model="estimate.zeroToFif" ng-value="4">4</ion-radio>
				  <ion-radio class="estimate-ion-radio" ng-model="estimate.zeroToFif" ng-value="5">5</ion-radio>
				</ion-list>
			</div>
		</div> -->
		<!-- <div class="row estimate-ion_row" ng-show="refData.rate">
			<div class="col">
				<span class="estimate-pricing-span"> Select Number of Items between <strong>15kg - 30kg</strong></span>
				<ion-list class="estimate-ion_list">
				  <ion-radio class="estimate-ion-radio" ng-model="estimate.fitToThirty" ng-value="0">
				  0</ion-radio>
				  <ion-radio class="estimate-ion-radio" ng-model="estimate.fitToThirty" ng-value="1">
				  1</ion-radio>
				  <ion-radio class="estimate-ion-radio" ng-model="estimate.fitToThirty" ng-value="2">
				  2</ion-radio>
				  <ion-radio class="estimate-ion-radio" ng-model="estimate.fitToThirty" ng-value="3">
				  3</ion-radio>
				  <ion-radio class="estimate-ion-radio" ng-model="estimate.fitToThirty" ng-value="4">
				  4</ion-radio>
				  <ion-radio class="estimate-ion-radio" ng-model="estimate.fitToThirty" ng-value="5">
				  5</ion-radio>
				</ion-list>
			</div>
		</div> -->
		<!-- <div class="row estimate-ion_row" ng-show="refData.rate">
			<div class="col">
				<span class="estimate-pricing-span"> Select Number of Items above <strong>30kg</strong></span>
				<ion-list class="estimate-ion_list">
				  <ion-radio class="estimate-ion-radio" ng-model="estimate.aboveThirty" ng-value="0">
				  0</ion-radio>
				  <ion-radio class="estimate-ion-radio" ng-model="estimate.aboveThirty" ng-value="1">
				  1</ion-radio>
				  <ion-radio class="estimate-ion-radio" ng-model="estimate.aboveThirty" ng-value="2">
				  2</ion-radio>
				  <ion-radio class="estimate-ion-radio" ng-model="estimate.aboveThirty" ng-value="3">
				  3</ion-radio>
				  <ion-radio class="estimate-ion-radio" ng-model="estimate.aboveThirty" ng-value="4">
				  4</ion-radio>
				  <ion-radio class="estimate-ion-radio" ng-model="estimate.aboveThirty" ng-value="5">
				  5</ion-radio>
				</ion-list>
			</div>
		</div> -->
		<div class="col col-offset-10">
			<span class="col estimate-pricing-span" ng-show="refData.rate">
			Approximate Charges: <strong>{{getApproximateRate()}}</strong></span>
		</div>
	</ion-content> 
</ion-view>

<script id = "city.html" type = "text/ng-template">
	<div class="popup-icon" ng-Click="closeGenericPopup();">
		<i class="ion-ios-close-empty" style="font-size: 25px;"></i>
	</div>
   <ion-content>
  		<div class="list">
			<a class="item item-icon-left cur-pointer" ng-model="estimate.city" ng-value="city" 
			  ng-repeat="city in refData.cities" ng-click="closeGenericPopup(); estimate.city=city; getPrice(city.id)">
		  	<i class="icon ion-android-pin" style="font-size: 18px;"></i> {{city.name}}
			</a>
		</div>
   </ion-content>
</script>