<ion-view view-title="Estimated Price">
	<ion-content class="signUp-page">
		<div class="row responsive-md">
      		<div class="col col-50 col-offset-25">
	   		<!-- City Section -->
				<div class="select-city cur-pointer" ng-click="showCityPopUP()">
					<div class="col-offset-33">
						<i class="ion-ios-search-strong"></i>
				    	<span class="cur-pointer">
				    		<span ng-hide="estimate.city">Please Select City</span> <span ng-show="estimate.city"><strong>{{estimate.city.name}}</strong></span>
			     		</span>
					</div>
				</div>
				<div ng-show="refData.rate && !refData.rate.customerBase">					
					<md-list-item class="md-3-line" ng-click="null">
						<div class="" style="border-bottom:1px solid gainsboro;">
							<h5>Select Number of Items between<strong>1kg - 15kg </strong></h5>
							<md-radio-group  ng-model="estimate.zeroToFif">
							    <md-radio-button ng-value="0" style="float:left;margin-right:10px;">
							    0</md-radio-button>
							    <md-radio-button ng-value="1" style="float:left;margin-right:10px;">
							    1</md-radio-button>
							    <md-radio-button ng-value="2" style="float:left;margin-right:10px;">
							    2</md-radio-button>
							    <md-radio-button ng-value="3" style="float:left;margin-right:10px;">
							    3</md-radio-button>
							    <md-radio-button ng-value="4" style="float:left;margin-right:10px;">
							    4</md-radio-button>
							    <md-radio-button ng-value="5" style="float:left;margin-right:10px;">
							    5</md-radio-button>
						    </md-radio-group>
						</div>
			        </md-list-item>	
					<md-list-item class="md-3-line" ng-click="null">
						<div class="" style="border-bottom:1px solid gainsboro;">
							<h5> Select Number of Items between <strong>15kg - 30kg</strong></h5>
							<md-radio-group ng-model="estimate.fitToThirty">
							    <md-radio-button ng-value="0" style="float:left;margin-right:10px;">
							    0</md-radio-button>
							    <md-radio-button ng-value="1" style="float:left;margin-right:10px;">
							    1</md-radio-button>
							    <md-radio-button ng-value="2" style="float:left;margin-right:10px;">
							    2</md-radio-button>
							    <md-radio-button ng-value="3" style="float:left;margin-right:10px;">
							    3</md-radio-button>
							    <md-radio-button ng-value="4" style="float:left;margin-right:10px;">
							    4</md-radio-button>
							    <md-radio-button ng-value="5" style="float:left;margin-right:10px;">
							    5</md-radio-button>
						    </md-radio-group>
						</div>
					</md-list-item>
					<md-list-item class="md-3-line" ng-click="null">
						<div class="" style="border-bottom:1px solid gainsboro;">
							<h5> Select Number of Items above <strong>30kg</strong></h5>
							<md-radio-group ng-model="estimate.aboveThirty">
							    <md-radio-button ng-value="0" style="float:left;margin-right:10px;">
							    0</md-radio-button>
							    <md-radio-button ng-value="1" style="float:left;margin-right:10px;">
							    1</md-radio-button>
							    <md-radio-button ng-value="2" style="float:left;margin-right:10px;">
							    2</md-radio-button>
							    <md-radio-button ng-value="3" style="float:left;margin-right:10px;">
							    3</md-radio-button>
							    <md-radio-button ng-value="4" style="float:left;margin-right:10px;">
							    4</md-radio-button>
							    <md-radio-button ng-value="5" style="float:left;margin-right:10px;">
							    5</md-radio-button>
						    </md-radio-group>
						</div>
					</md-list-item>	
					<div layout="row" style="margin-top:25px;">
						  <div flex flex-order="-1" class="estimatefirst_table1">
						    <span hide-gt-md style="padding-left:5px;">Weight</span><br>
						    <span show-gt-md style="padding-left:5px;">in</span>
						    <span show-gt-md style="padding-left:5px;">(kg)</span>
						  </div>
						  <div flex flex-order="1" flex-order-gt-md="3" class="estimatefirst_table1">
						    <span hide-gt-md>Charges</span>
						    <span show-gt-md>in</span>
						    <span show-gt-md>(Rs)</span>
						  </div>
						  <div flex flex-order="2" class="estimatefirst_table1">
						    <span>No. of Bags</span>
						  </div>
						  <div flex flex-order="3" flex-order-gt-md="1" class="estimatefirst_table1">
						    <span hide-gt-md>Total</span>
						    <!-- <p hide show-gt-md>[flex-order-gt-md="1"]</p> -->
						  </div>
					</div>
					<div layout="row" class="estimate_table_border">
						  <div flex flex-order="-1" class="estimatefirst_table">
						    <span>0-15</span>
						  </div>
						  <div flex flex-order="1" flex-order-gt-md="3" class="estimatefirst_table">
						    <span hide-gt-md>{{refData.rate.zeroToFifCount}}</span>
						    <!-- <p hide show-gt-md>[flex-order-gt-md="3"]</p> -->
						  </div>
						  <div flex flex-order="2" class="estimatefirst_table">
						    <span>{{estimate.zeroToFif}}</span>
						  </div>
						  <div flex flex-order="3" flex-order-gt-md="1" class="estimatefirst_table">
						    <span hide-gt-md>{{refData.rate.zeroToFifCount * estimate.zeroToFif}}</span>
						    <!-- <p hide show-gt-md>[flex-order-gt-md="1"]</p> -->
						  </div>
					</div>
					<div layout="row" class="estimate_table_border">
						  <div flex flex-order="-1" class="estimatefirst_table2">
						    <span>15-30</span>
						  </div>
						  <div flex flex-order="1" flex-order-gt-md="3" class="estimatefirst_table2">
						    <span hide-gt-md>{{refData.rate.fifToThirCount}}</span>
						    <!-- <p hide show-gt-md>[flex-order-gt-md="3"]</p> -->
						  </div>
						  <div flex flex-order="2" class="estimatefirst_table2">
						    <span>{{estimate.fitToThirty}}</span>
						  </div>
						  <div flex flex-order="3" flex-order-gt-md="1" class="estimatefirst_table2">
						    <span hide-gt-md>{{refData.rate.fifToThirCount * estimate.fitToThirty}}</span>
						    <!-- <p hide show-gt-md>[flex-order-gt-md="1"]</p> -->
						  </div>
					</div>
					<div layout="row" class="estimate_table_border">
						  <div flex flex-order="-1" class="estimatefirst_table3">
						    <p>Above 30</p>
						  </div>
						  <div flex flex-order="1" flex-order-gt-md="3" class="estimatefirst_table3">
						    <p hide-gt-md>{{refData.rate.aboveThirty}}</p>
						    <!-- <p hide show-gt-md>[flex-order-gt-md="3"]</p> -->
						  </div>
						  <div flex flex-order="2" class="estimatefirst_table3">
						    <p>{{estimate.aboveThirty}}</p>
						  </div>
						  <div flex flex-order="3" flex-order-gt-md="1" class="estimatefirst_table3">
						    <p hide-gt-md>{{refData.rate.aboveThirty * estimate.aboveThirty}}</p>
						    <!-- <p hide show-gt-md>[flex-order-gt-md="1"]</p> -->
						  </div>
					</div>
					
					<div class="col col-offset-10">
						<span class="col estimate-pricing-span">
						Approximate Charges: <strong>{{getApproximateRate()}}</strong></span>
					</div>
				</div>

				<div ng-show="refData.rate && refData.rate.customerBase">
					<div class="col-offset-33 inset-rate">
						<h3 class="inset-rate-h3">{{refData.rate.zeroToFifCount}}</h3>
						<h5 style="line-height:0.6;"><i class="fa fa-inr" aria-hidden="true"></i> only</h5>
					</div>
					<md-list-item class="md-3-line" ng-click="null">
						<div class="col col-customerbase">
							<span>
								<i class="fa fa-suitcase" aria-hidden="true"></i>
								Number of bags upto : {{refData.rate.luggageLimit}}
							</span><br> 
							<span style="margin-left:-3px;">
								<img src="img/weight-kg-icon.png" style="width:20px;height:20px;">
								<span style="position:absolute;">
									Weight Limit : {{refData.rate.luggageLimitInKgs}} Kg.
								</span>
							</span><br>
							<span>Extra Luggage Charges : {{refData.rate.amountPerLuggage}} 
								<i class="fa fa-inr" aria-hidden="true"></i> / Luggage
							</span><br>
							<span>Extra Weight Charges : {{refData.rate.amountPerKgs}} 
								<i class="fa fa-inr" aria-hidden="true"></i> / Kg.
							</span><br>
						</div>
					</md-list-item>
					<md-list-item class="md-3-line" ng-click="null">
						<div class="" style="border-bottom:1px solid gainsboro; width:100%;">
							<h5>Select Number of Luggage </h5>
							<md-radio-group ng-model="estimate.numberOfLuggages">
							    <md-radio-button ng-value="refData.rate.luggageLimit" style="float:left;">upto 
							    	<span style="margin-right:10px!important;">
							    		{{refData.rate.luggageLimit}}
									</span>
								</md-radio-button>
							    <md-radio-button ng-value="refData.rate.luggageLimit + 1" style="float:left;margin-right:10px;">
							    {{refData.rate.luggageLimit + 1}}</md-radio-button>
							    <md-radio-button ng-value="refData.rate.luggageLimit + 2" style="float:left;margin-right:10px;">
							    {{refData.rate.luggageLimit + 2}}</md-radio-button>
							    <md-radio-button ng-value="refData.rate.luggageLimit + 3" style="float:left;margin-right:10px;">
							    {{refData.rate.luggageLimit + 3}}</md-radio-button>
							    <md-radio-button ng-value="refData.rate.luggageLimit + 4" style="float:left;margin-right:10px;">
							    {{refData.rate.luggageLimit + 4}}</md-radio-button>
						    </md-radio-group>
						</div>
			        </md-list-item>
			        <md-list-item class="md-3-line" ng-click="null">
						<div class="" style="border-bottom:1px solid gainsboro; width:100%;">
							<h5>Approximate Weight of Luggages in Kg </h5>
							<md-radio-group  ng-model="estimate.approxWeight">
							    <md-radio-button ng-value="refData.rate.luggageLimitInKgs" style="float:left;margin-right:10px;">
							    upto {{refData.rate.luggageLimitInKgs}}</md-radio-button>
							    <md-radio-button ng-value="refData.rate.luggageLimitInKgs + 10" style="float:left;margin-right:10px;">
							    upto {{refData.rate.luggageLimitInKgs + 10}}</md-radio-button>
							    <md-radio-button ng-value="refData.rate.luggageLimitInKgs + 20" style="float:left;margin-right:10px;">
							    upto {{refData.rate.luggageLimitInKgs + 20}}</md-radio-button>
							    <md-radio-button ng-value="refData.rate.luggageLimitInKgs + 30" style="float:left;margin-right:10px;">
							    upto {{refData.rate.luggageLimitInKgs + 30}}</md-radio-button>
						    </md-radio-group>
						</div>
			        </md-list-item>
			        <md-list-item class="md-3-line" ng-click="null">
			        	<div class="col col-customerbase">
							<span class="base-charge">Base Charge upto {{refData.rate.luggageLimit}} Luggage and {{refData.rate.luggageLimitInKgs}} Kg : {{refData.rate.zeroToFifCount}} 
								<i class="fa fa-inr" aria-hidden="true"></i>
							</span></br>
							<span class="base-charge">
								<i class="fa fa-suitcase" aria-hidden="true"></i>
								Extra Luggage : {{getExtraLuggage()}}
							</span><br>
							<span class="base-charge">
								<i class="fa fa-inr" aria-hidden="true" style="margin-left:4px;"></i>
								<span style="margin-left:3px;">
									Charges of extra luggage : {{getExtraPerLuggage()}}
									<i class="fa fa-inr" aria-hidden="true"></i>
								</span>
							</span><br>
							<span class="base-charge" style="margin-left:-3px;">
								<img src="img/weight-kg-icon.png" style="width:20px;height:20px;">
								<span style="position:absolute;margin-left:-3px;">Extra Weight in Kg : {{getExtraKg()}}</span>
							</span></br>
							<span class="base-charge" style="margin-left:3px;">
								<i class="fa fa-inr" aria-hidden="true"></i>
								<span style="position:absolute;margin-left:4px;">
									Charges of extra weight : {{getExtraPerKg()}}
									<i class="fa fa-inr" aria-hidden="true"></i>
								</span>
							</span><br>
							<span class="base-charge">
								Approximate Total Charges : {{getApproximateTotalForCustomerBase()}}
								<i class="fa fa-inr" aria-hidden="true"></i>
							</span></br>
						</div>
					</md-list-item>
				</div>

			</div>
		</div>		
	</ion-content> 
</ion-view>

<script id = "city.html" type = "text/ng-template">
	<div class="popup-icon" ng-Click="closeGenericPopup();">
		<i class="ion-ios-close-empty" style="font-size: 25px;"></i>
	</div>
   <ion-content>
  		<div class="list">
			<a class="item item-icon-left cur-pointer" ng-model="estimate.city" ng-value="city" 
			  ng-repeat="city in refData.cities" ng-click="closeGenericPopup(); estimate.city=city; getPrice(city.id)">
		  	<i class="icon ion-android-pin" style="font-size: 18px;"></i> {{city.name}}
			</a>
		</div>
   </ion-content>
</script>