<ion-view view-title="Get Started" class="get-started">
	<ion-content>
		    <ion-slide-box class="slides" auto-play="true" show-pager="true" does-continue="true" on-slide-changed="slideHasChanged($index)">
		   	   	<ion-slide>
			        <img class="slider-slide_img slide-img" src="img/about-us (11).png"/>
			    </ion-slide>
			   	<ion-slide>
			        <img class="slider-slide_img slide-img" src="img/about-us (112).png"/>
			    </ion-slide>
		    	<ion-slide>
			        <img class="slider-slide_img slide-img" src="img/about-us (113).png"/>
			    </ion-slide>
		    	<ion-slide>
			        <img class="slider-slide_img slide-img" src="img/about-us (114).png"/>
			    </ion-slide>
		    </ion-slide-box>
		    <div class="list" ui-sref="login.form">
		    	<div class="row row-bottom getstarted-row">
				   <div class="col col-getStarted">
				   	 <button class="button button-full button-balanced ink btn-getStarted">
					  Get Started
					 </button>
				   </div>
				</div>
		    </div>
	</ion-content>
</ion-view>