<ion-view view-title="Get Started" style="background-color: grey;">
   <ion-slide-box auto-play="true" show-pager="true" does-continue="true" on-slide-changed="slideHasChanged($index)">
	    <ion-slide>
	        <img src="img/slide-1.jpg" style="height: 620px;"/>
	    </ion-slide>
	    <ion-slide>
	        <img src="img/slide-2.jpg" style="height: 620px;"/>
	    </ion-slide>
	    <ion-slide>
	        <img src="img/slide-3.jpg" style="height: 620px;"/>
	    </ion-slide>
	    <ion-slide>
	        <img src="img/slide-5.jpg" style="height: 620px;"/>
	    </ion-slide>
	    <ion-slide>
	        <img src="img/slide-6.jpg" style="height: 620px;"/>
	    </ion-slide>
   </ion-slide-box>
   
 <div class="row row-bottom">
   <div class="col col-offset-33">
   	 <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ui-sref="login.form">
	  Get Started
	 </button>
   </div>
 </div>
</ion-view>