<ion-view view-title="Get Started" class="get-started">
   <!-- <ion-slide-box auto-play="true" show-pager="true" does-continue="true" on-slide-changed="slideHasChanged($index)">
	   	   	 <ion-slide>
		        <img class="slide-img" src="img/getstarted.jpg"/>
		     </ion-slide>
   	 
		   	<ion-slide>
		        <img class="slide-img" src="img/incredible-india3.jpg"/>
		    </ion-slide>
	 
	    	<ion-slide>
		        <img class="slide-img" src="img/incredible-india1.jpg"/>
		    </ion-slide>
	  
	    	<ion-slide>
		        <img class="slide-img" src="img/getstarted.jpg"/>
		    </ion-slide>
	   
	    	<ion-slide>
		        <img class="slide-img" src="img/incredible-india1.jpg"/>
		    </ion-slide>
	    </div>
   </ion-slide-box> -->
   
 <div class="row row-bottom" style="margin-top: 200px;">
   <div class="col col-offset-33">
   	 <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ui-sref="login.form">
	  Get Started
	 </button>
   </div>
 </div>
</ion-view>