<ion-modal-view class="signUp-page">
	<ion-header-bar class="bar-balanced">
		<a ui-sref="login.form" class="button icon-left ion-ios-arrow-thin-left button-clear button-dark back-icon"></a>
   		<h1 class="title text-primary-color">OTP</h1>
	</ion-header-bar>
	<ion-content class="bg-white padding">
		<form name="otpForm">
            <div class="row responsive-md">
                <div class="col col-50 col-offset-25">
                    <div class="header padding text-center">
                        <!-- <img src="img/logo.png" alt="Your logo here"/> -->
                        <img src="img/logo.png" width="100px" height="100px" alt="Logo"/>
                    </div>
                    <div class="list">
                        <md-input-container class="md-block" flex-gt-sm>
					          <label>OTP</label>
					          <input name="otp" ng-model="user.otp" required ng-pattern="/^\d+$/" minlength="6" maxlength="6" />
					          <!-- <div class="hint">(###) ###-####</div> -->
					          <div ng-messages="otpForm.otp.$error" rmd-auto-hide="false" ng-if="otpForm.otp.$touched">
					          	<div ng-message-exp="['minlength', 'maxlength']">
					              OTP should be of 6 digits
					            </div>
					            <div ng-message="required">This field is required.</div>
					            <div ng-message="pattern">Please enter a valid OTP.</div>
					          </div>
					    </md-input-container>
					    <span>If you don't get OTP then please click 
					    	<a href="" ng-click="regenerateOTP()">here</a> 
					    to generate again.</span>
                    </div>
                    <button class="button button-block button-balanced" ng-disabled="otpForm.$invalid || otpForm.$pristine" ng-click="submitOTP()">
                        Submit OTP
                    </button>
                </div>
            </div>
        </form>

		<!-- <form name="otpForm" class="row responsive-sm my-form">
 			<md-input-container class="md-block" flex-gt-sm>
	          <label>OTP</label>
	          <input name="otp" ng-model="user.otp" required ng-pattern="/^\d+$/" minlength="6" maxlength="6" />
	          <div ng-messages="otpForm.otp.$error" rmd-auto-hide="false" ng-if="otpForm.otp.$touched">
	          	<div ng-message-exp="['minlength', 'maxlength']">
	              OTP should be of 6 digits
	            </div>
	            <div ng-message="required">This field is required.</div>
	            <div ng-message="pattern">Please enter a valid OTP.</div>
	          </div>
	        </md-input-container>

	        <span>If you don't get OTP then please click <a href="" ng-click="regenerateOTP()">here</a> to generate again.</span>

		    <div class="col">
	            <button class="button button-block button-balanced" ng-disabled="otpForm.$invalid || otpForm.$pristine" ng-click="submitOTP()">
	            Submit OTP</button>
	        </div>
		</form> -->
	</ion-content>
</ion-view>