<ion-modal-view class="signUp-page">
    <div class="bar bar-header bar-calm" style="position: static;">
        <div class="h1 title">Login</div>
    </div>
	<ion-content class="padding">
		<div class="list card" style="margin-top: 60px;">		
			<form name="loginForm" class="row responsive-sm my-form">
				<div class="item item-body">
					<img src="img/logo11.png" width="130px" height="100px" style="margin-left: 75px;">
			        <div class="item-input-inset date-time-select">
				        <i class="ion-android-phone-portrait" style="color:grey; font-size: 14px;
				        margin-top:41px;"></i>
				        <ion-md-input type="text" name="userNumber" ng-model="user.number" ng-required="true"
				         ng-maxlength="10" ng-minlength="10" ng-pattern="/^[0-9]{1,10}$/"
				         placeholder="Mobile Number">
				     	</ion-md-input>
				        <!-- <label class="item item-input item-md-label profile-text-label">
			        		<input class="select-date-time" type="text" name="userNumber" ng-model="user.number" type="text" ng-required="true" ng-maxlength="10" ng-minlength="10" ng-pattern="/^[0-9]{1,10}$/"/>
			        		<span class="input-label lbl_span-field">Mobile Number</span>
			        	</label> -->
			    	</div>
			    	<!-- <div class="item-input-inset date-time-select">
				    	<i class="ion-android-phone-portrait" style="color:grey; font-size: 14px;
				    	margin-top:32px;"></i>
				    	<ion-md-input ng-model="user.number" type="text" ng-required="true" ng-maxlength="10" ng-minlength="10" ng-pattern="/^[0-9]{1,10}$/"></ion-md-input>
				    </div> -->
			    </div>
			    <span ng-show="loginForm.userNumber.$touched && loginForm.userNumber.$error.pattern">Not a valid phone number!</span>
			    <span ng-show="loginForm.userNumber.$touched && loginForm.userNumber.$error.required">This field is required!</span>
			    <span ng-show="loginForm.userNumber.$touched && loginForm.userNumber.$error.minlength">This field is minlength!</span>
			    <span ng-show="loginForm.userNumber.$touched && loginForm.userNumber.$error.maxlength">This field is maxlength!</span>
			    <button class="button button-fab ink-dark button-calm login_btn" ng-disabled="loginForm.$invalid || loginForm.$pristine" ng-click="login()">
					<svg style="width:33px;height:56px" viewBox="0 0 24 24">
					  <path fill="#000000" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/>
					</svg>
			    </button>
			</form>
		</div>
	</ion-content>
</ion-view>