<ion-modal-view class="signUp-page">
   <ion-header-bar class="bar-balanced">
   		<h1 class="title text-primary-color">Login</h1>
	</ion-header-bar>
	<ion-content class="bg-white padding">	
		<form name="loginForm">
            <div class="row responsive-md">
                <div class="col col-50 col-offset-25">
                    <div class="header padding text-center">
                        <!-- <img src="img/logo.png" alt="Your logo here"/> -->
                        <img src="img/Capture1.png" width="100px" height="100px" alt="Logo"/>
                    </div>
                    <div class="list">
                        <md-input-container class="md-icon-float md-block" flex-gt-sm>
					          <label>Mobile Number</label>
						          <md-icon class="fa fa-phone name"></md-icon>
						          <input name="userNumber" ng-model="user.number" required ng-pattern="/^\d+$/" minlength="10" maxlength="10" class="input_loginform_mobile"/>
						          <!-- <div class="hint">(###) ###-####</div> -->
						        <div ng-messages="loginForm.userNumber.$error" rmd-auto-hide="false" ng-if="loginForm.userNumber.$touched">
						          	<div ng-message-exp="['minlength', 'maxlength']">
						              Number should be of 10 digits
						            </div>
						            <div ng-message="required">This field is required.</div>
						            <div ng-message="pattern">Please enter a valid phone number.</div>
					          	</div>
				        </md-input-container>
                    </div>
                    <button class="button button-block button-balanced" ng-disabled="loginForm.$invalid || loginForm.$pristine" ng-click="login()">
                        Log In
                    </button>
                </div>
            </div>
        </form>
	</ion-content>
</ion-view>