
<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content style="background-color: #f2f2f2;">
        <ion-nav-bar class="bar-positive head-effects">
            <ion-nav-buttons side="left">
              <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
              </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="mainContent"></ion-nav-view>    
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-positive">
            <h5 style="color:#fff;">Menu</h5>
        </ion-header-bar>
        <ion-content class="stable-bg">
            <div class="profile-box">
                <img class="profile-box-thumb" src="img/userIcon.png">
                <div class="profile-box-details">
                    <h4>Project X</h4>
                </div>
                <i class="settings-icon icon ion-gear-a"></i>
            </div>
              <ion-item ng-repeat="menu in ::menuList" nav-clear menu-close ui-sref="{{menu.state}}" style="padding: 7px;">
              <img class="menu-img" ng-src="{{menu.imagepath}}">
              </img>
              <span class="menu-name">{{menu.name}}</span>
              </ion-item>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>


