<ion-view view-title="Terms & Conditions">
  <ion-content class="aboutUs-page">
  	<div class="row responsive-md">
        <div class="col col-50 col-offset-25">
			<div class="header padding text-center">
                <img src="img/logo.png" width="100px" height="100px" alt="Logo"/>
            </div>

		   	<md-list flex>
				<md-list-item ng-click="null">
					<div class="list">
				 	  <div class="item item-body md-button-contact">
					    <span>
					      <p>In these Conditions:- "Company" Is Wedealnow E-commerce Service LLP, also referred to as Bag2Bag and/or Bag2Bag.in</p>
					      <p>"Person" Includes persons or any Body or Bodies Corporate.</p>
					      <p>"The Owner" means the owner of the goods (including any packaging, containers or equipment) to which any business concluded under these Conditions relates and any other person who is or may become interested in them.</p>
					    </span>
					  </div>
					</div>	
				</md-list-item>  
			</md-list flex>  
			<div class="">
				<a ng-href="http://bag2bag.in/" class="button button-block button-balanced" style="width:100%">
                	Read More
            	</a>
			</div>
		</div>
	</div>		
  </ion-content>
</ion-view>