<ion-view view-title="Your Booking">
  <ion-content class="yourbooking-page">
  	 <ion-refresher
	    pulling-text="Pull to refresh..."
	    on-refresh="getBookingsByUserId(app.userCredentials.id);">
	  </ion-refresher>
  	<div class="card">
		<div class="list">
			    <!-- {{bookingModel}} -->
		  	<div class="item item-avatar yourbooking" ng-repeat = "booking in yourBooking.List"
		  	 	ng-click="selectBooking(booking)">
		  		<img src="img/userIcon.png" width="30px" height="30px">
		  		<i class="icon ion-ios-briefcase-outline"></i>
			    <span><b>{{booking.bookingDate | date:'medium'}}</b></span><br>
			    <div class="yourbooking-all">
				    <span>BID: {{booking.id}}</span><br>
				    <span>No. of Items: {{booking.itemCount}}</span><br>
			        <span>Status: {{booking.bookingStatus.activity}}-{{booking.bookingStatus.status}}</span><br>
					<span class="yourbooking-status">Your Mobile Number: {{booking.number}}</span><br>
				</div>
		  	</div>
		</div>  
	</div>
  </ion-content>
</ion-view>