<ion-view view-title="Your Booking">
  <ion-content class="signUp-page yourbooking-page">
  	<div class="row responsive-md">
      <div class="col col-50 col-offset-25">
	  	 	<ion-refresher pulling-text="Pull to refresh..." on-refresh="getBookingsByUserId(userInfo.id);">
		 	</ion-refresher>
			<div class="list animate-fade-slide-in-right">
			<div class="booking_history_empty" ng-show="yourBooking.List.length==0">
				Booking history is empty.
			</div>
            <a ng-repeat = "booking in yourBooking.List" ng-click="selectBooking(booking)" class="item item-thumbnail-left" on-finish-render="ngRepeatFinished">
              <img src="img/userIcon.png" width="30px" height="30px">
              <div class="col yourbooking-all">
              	  <h2><strong>{{booking.bookingDate | date:'medium'}}</strong></h2>
	              <h4>BID: <strong>{{booking.id}}</strong></h4>
	              <h4>No. of Items: <strong>{{booking.itemCount}}</strong></h4>
	              <h4>Status: <strong>{{booking.bookingStatus.status}}
	              </strong></h4>
	              <h4>Your Mobile Number: <strong>{{booking.number}}</strong></h4>
              </div>
            </a>
			</div>  
		</div>	
	</div>
  </ion-content>
</ion-view>