/* Empty. Add your own CSS if you like */
.row .login-field{
	margin-top: 60px;
}
.head-effects {
	box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.14), 
	0 1px 3px 0 rgba(0, 0, 0, 0.12), 
	0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.item-content .menu-name.ng-binding {
	margin-left: 10px;
    position: absolute;
    top: 2px;
}
.item{
    border: none!important;
}
.item-select select {
    right: 84px; 
    background: transparent !important;
    border: 1px solid lightskyblue; 
    
}
.item-select:after {
    right: 102px;
}
.list .item {
    min-height: 30px !important;
}
.list {
    padding-top: 5px !important;
}
.mob-coupon-code {
    margin-top: -28px !important;
}
.mob-coupon-code-input {
    border-bottom: 1px solid gainsboro!important;
}
.mob-coupon-code-label {
    width: 100% !important;
}
.popup-icon {
    position: absolute; 
    top: 13px; 
    right: 10px;
    cursor: pointer;
}
.stable-bg {
    background: #F1F5F8 !important;
}
.stable-bg-contact {
    background-color: #fff !important;
}
.ion-checkmark:before {
    content: "";
    top: 8px !important;
    font-size: 10px;
    position: absolute !important;
    left: 17px !important;
}
.bookingConfirmation {
    background: #F4F8F9;
    padding: 14px;
}
.pickup-details {
    padding: 10px;
    float: left;
    width: 100%;
}
.confirmation_booking{
    border: 1px solid gainsboro;
    padding: 10px;
}
.confirmz_h5{
    color: #575757;
    margin-left: 12px;
}
.contact_span{
    display: inline-block;
    margin-top: 23px;
}
.bill-details{
    margin-left:28px!important;
    float: left!important;
}
.subStreets {
    border-bottom: 1px solid gainsboro !important;
}
.back-icon {
    margin-left: 12px !important;
    margin-top: 5px !important;
}
.pickup-details-h5 {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 6px;
    color: black;
    margin: 2px 12px;
}
.StreetSubstreetName {
    color: #212121;
    margin-left: 7px;
    font-family: "Roboto", sans-serif !important;
    overflow: initial!important;
}
#StreetSubstreetName{
    color: #212121;
    margin-left: 15px;
    font-family: "Roboto", sans-serif !important;
    float: left;
}
.StreetSubstreetName1{
    color: #212121;
    margin-left: 12px;
    font-family: "Roboto", sans-serif !important;
}
.yourbookingfont {
    font-weight: 300;   
    font-size: 12px;
}
.ionicons-icons {
    color:black !important; 
    font-size: 14px !important; 
    margin-top:32px !important;
}
.yourbooking-all {
    font-size: 13px;
    border-bottom: 1px solid gainsboro;
}
.image-slide {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 246px;
    margin: auto;
    z-index: 2;
    position: relative;
}
.menu-img {
    width:17px !important;
    color:#757575 !important;
    margin-top:0px !important;
    margin-left: 12px !important;
}
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') no-repeat ;
}
.item-divider {
    background-color: #21B11E !important;
    padding-left: 16px;
}
.i > .application-icon {
	color: #777;
}
.slide-img {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.profile-box {
    padding: 28px 16px;
    position: relative;
}
.profile-box-info {
    padding: 28px 16px;
    position: relative;
    background: url("../img/ds.png") repeat;
}
.profile-box-thumb {
    width: 65px;
    border-radius: 500px;
    border: 5px solid rgba(255,255,255,.1);
    position: absolute;
}
.profile-box .profile-box-details {
    margin-left: 80px;
    margin-top: 21px;
}
.profile-box-details > h4 {
	color: #fff;
}
.settings-icon {
    float: right !important;
    font-size: 26px !important;
    color: white !important;
}
.text-center{
    text-align: center;
}
.container {
  margin: 0 auto;
  max-width: 600px;
}
.slider-slide {
  height: auto;
  text-align:center;
}
.input-label {
   margin-top: -2px !important;
   margin-left: 0px !important;
   font-size: 18px !important; 
}
.profile_label_box {
    margin-left: 10px !important;
}
.item-input input {
    position: relative;
    left: 1px;
    right: -2px;
    border-bottom: 1px solid gainsboro !important;
}
.item-md-label .highlight {
    left: 1px !important;
}
#profile-image {
    display: block;
    border-radius: 100px;
    border: 1px solid #444;
    width: 60px;
    height: 60px;
    margin: 0px auto 0;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}
.slider-slide_img{
  height: 508px !important;
  width: 100%!important;
}
.list{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}
.btn-getStarted{
    background-color: #003445!important;
}
.section_estimated {
    text-decoration: none;
    margin-right: 10px;
}
.section_cancelbooking{
    text-decoration: none;
}
.row > span {
    margin-top: -10px;
    color: black;
    font-size: 12px;
}
.signUp-page {
    background-color:rgb(255, 255, 255);
}
.bg_booking_page{
    background-color: #EFF1F5;
}
.tmargin {
    margin-top: 15px !important;
}
.all_icon {
    color:grey; 
    font-size: 14px;
    margin-top:22px;
}
.col-getStarted {
    padding: 16px !important;
}
.get_Started{
    background-color: #259B24!important;
}
.getstarted-row {
    background-color: #259B24;
    margin-top: -12px;
    height: 110px;
}
.cur-pointer {
    cursor: pointer!important;
}
.booking-popup .popup {
      /*width: auto;*/
      height: 430px !important;
}
.streets-h3 {
    /*margin-left: 5px !important;*/
}
input[disabled], input[readonly]:not(.cloned-text-input), 
select[disabled], select[readonly], textarea[disabled], 
textarea[readonly]:not(.cloned-text-input)
.error-alert-popup {
   background-color: transparent!important;
}
.estimate-pricing-span {
    font-size: 100%;
    color: #444;
    font-size: 20px;
    font-weight: 500;
}
.item-thumbnail-left > img:first-child, 
.item-thumbnail-left .item-image, 
.item-thumbnail-left .item-content > img:first-child, 
.item-thumbnail-left .item-content .item-image {
    max-width: 50px !important;
    max-height: 50px !important;
}
.dark-primary-color    { background: #388E3C; }
.default-primary-color { background: #64DD17; }
.light-primary-color   { background: #C8E6C9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #8BC34A; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

.text-booking-page {
    color: #121111;
    font-size:14px; 
    margin-left: 5px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 500;
    line-height: 30px;
}
input[type='checkbox'] {
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  margin: 20px;
}
.status-box {
  background: white;
  border-radius: 50%;
  border: 1px solid grey;
  width: 20px;
  height: 20px;
}
.circle {
  -webkit-transform: rotate(360deg);
  background: #9351A6;
  border-radius: 50%;  
  width: 20px;
  height: 20px;
}
.rotate {
  -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.select_no_bags{
    margin-left:15px!important;
    padding-bottom:35px!important;
    margin-top:-20px!important;
}
.status-textUp-value{
    width:5em!important;
    float:left!important;
    margin-left:-64px!important;
    word-wrap:break-word!important;
    font-size:12px!important;
    margin-top:10px!important;
}
.status-textDown-value{
    width:5em!important;
    float:left!important;
    margin-left: -66px!important;
    word-wrap:break-word!important;
    font-size:12px!important;
    margin-top:-50px!important;
}
.div_status{
    float:left;
    margin-top:-10px;
    margin-right: 40px;
}
.footer_estimate_price{
    position: absolute;
    top: 10px;
    left: 25px;
}
.footer_cancel_booking{
    position: absolute;
    top: 8px;
    left: 25px;
}

.footer_booknow {
    position: absolute;
    margin-top: 5px;
}
.text_underline {
    text-decoration: none;
    font-size: 14px!important;
    font-family: "Roboto", sans-serif;
}
a.md-button.md-default-theme.md-focused:not([disabled]), 
a.md-button.md-focused:not([disabled]), 
.md-button.md-default-theme.md-focused:not([disabled]), 
.md-button.md-focused:not([disabled]){
    background-color: rgba(33, 177, 30, 0.3)!important;
}
.menu .avatar {
    height: 88px;
    width: 88px;
}
.menu.menu-left * {
    font-weight: bold;
}
.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.menu-open .ion-navicon:before {
    content: "\f2ca";
}
.bar.bar-balanced {
    background-color: #21B11E!important;
    border-color: #21B11E!important;
}
.menu_name{
    color:#fff;
    margin-left:24px;
    margin-top:14px;
}
md-radio-group md-radio-button:not(:first-child) {
  margin-top: 0px!important; 
}
.datetime-label{
    font-size: 18px!important;
    color: #000!important;
    font-family: "-apple-system","Helvetica Neue",Roboto,"Segoe UI",sans-serif!important;
    font-weight: 500!important;
}
.md-datetime-input{
    margin-bottom: -12px;
}
.label-city-text{
    color: #000;
    margin-left: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    letter-spacing:0;
    font-size: 12px;
}
.border-bottom-div{
    width: 300px;
    border-bottom: 1px solid gainsboro;
    margin-left: 15px;
    margin-bottom: 30px;
}
.placeholder-date-input-tag{
    font-size:15px!important;
    color:#777;
    font-family: "Roboto",sans-serif;
    margin-top:5px;
}
.date-input-tag{
    font-size:18px!important;
    color:#777!important;
    font-family: "Roboto",sans-serif!important;
    width: 300px!important;
}
.md_sidenav {
    border-bottom: 1px solid gainsboro;
}
.font-inr{
    font-size: 20px!important;
    margin-top: 13px!important;
    margin-left: 5px!important;
}
.estimatefirst_table{
    background-color:transparent;
    font-size: 13px;
    /*border: 1px solid gainsboro;*/
    padding:10px;
}
.estimatefirst_table1{
    background-color:#8bc34a!important;
    border: 1px solid #8bc34a!!important;
}
.estimatefirst_table2{
    background-color:transparent;
    font-size: 13px;
    /*border: 1px solid gainsboro;*/
    padding:10px;
}
.estimatefirst_table3{
    background-color:transparent;
    font-size: 13px;
    /*border: 1px solid gainsboro;*/
    padding:9px;
}
.estimate_table_border{
    border: 1px solid gainsboro;
}

md-input-container.md-icon-float > md-icon {
    top: 13px!important;
    left: 14px!important;
    color: #777!important;
    font-size: 14px!important;
}
input {
  font-family: Roboto, sans-serif!important;
  font-size: 14px!important;
  color: #000!important;
}
.bg-white{
    background-color: white!important;
}
.contact_address{
    font-size:13px!important;
    font-family:inherit!important;
    font-weight: 500!important;
}
.contact_address_phone{
    font-size: smaller!important;
    font-family:inherit!important;
    font-weight: 500!important;

}
.md-button-contact{
    line-height: 17px!important;
    font-family:inherit!important;
    font-weight: 500!important;
}
.md-button-email{
    line-height: 17px!important;
    margin-top: 15px!important;
    font-family:inherit!important;
    font-weight: 500!important;
}
.img_address{
    margin-top: -47px!important;
}
.col-pickupStreet{
    margin-bottom: 0px!important;
}
.select-city {
    border: 1px solid gainsboro !important;
    padding: 12px !important;
    width: 100% !important;
    background-color: #FFF;
}
.item-complex .item-content, 
.item-radio .item-content {
    padding: 3px 29px 5px 6px !important;
}
.cancel_span{
    font-size: 18px!important;
    font-family: inherit;
    font-weight: 500;
    text-transform: capitalize;
    margin-left: 10px;
}
.booking_status{
    margin-top: 35px!important;
}
#booking_status{
    margin-top: -20px;
}
.driver_icon{
    width:70px!important; 
    height:70px!important; 
    float:left!important;
}
.driver_name{
    display:inline-block!important; 
    margin-top:5px!important;
}
.home_icon{
    font-size:20px!important;
    color:#000!important;
    margin-top:15px!important;
}
.inset-rate{
    display:block;
    width:100px;
    height:100px;
    border-radius:50px;
    font-size:15px;
    color:#21B11E;
    line-height:100px;
   /* text-shadow:0 1px 0 #666;*/
    text-align:center;
    text-decoration:none;
    box-shadow:1px 1px 2px #777;
    background:white;
    opacity:0.95;
    margin-top:11px;
}
.inset-rate:hover{
    color:#21B11E;
    /*text-shadow:0 0 1px #666;*/
    text-decoration:none;
    box-shadow:0 0 4px #222 inset;
    opacity:1
}
.inset-rate-h3{
    font-size:30px!important;
    padding-top:15px!important;
    color:#21B11E!important;
    margin-bottom: -10px;
}
.col-customerbase{
    border-bottom:1px solid gainsboro;
    line-height: 24px;
}
md-radio-button .md-label{
   /* margin-left: 22px!important;*/
}
.base-charge{
    font-size: 13px;
}
md-radio-button{
    margin-bottom: 0px!important;
}
.item h2{
    overflow: initial!important;
    line-height: 15px;
}