/* Empty. Add your own CSS if you like */
.row .login-field{
	margin-top: 60px;
}
@media all and (orientation:portrait) {
    .row .col-offset-33 {
        margin-left: 110px;
        margin-top: 4px;
    }
}
@media all and (orientation:landscape) {
    .row .col-offset-33 {
        margin-left: 224px;
        margin-top: 4px;
    }
}
For Tablet
@media screen (max-width:1024px){
    .row .col-offset-33 {
        margin-left: 75px;
        margin-top: 4px;
    }
}
.box {
	background-color:#f2f2f2;
	margin-bottom:15px;
	margin-top: 30px;
	border-radius: 3px;
	box-shadow: 0 1px 1px #777;
}
.item-complex, a.item.item-complex, 
button.item.item-complex{
	background-color: transparent;
	border: none;
}
.item-complex:hover {
    background-color:#21B11E;
}

.head-effects {
	box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.14), 
	0 1px 3px 0 rgba(0, 0, 0, 0.12), 
	0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.item-content .menu-name.ng-binding {
	margin-left: 10px;
    position: absolute;
    top: 2px;
}
.item-select select {
    right: 84px; 
    background: transparent !important;
    border: 1px solid lightskyblue; 
}
.item-select:after {
    right: 102px;
}
.list .item {
    min-height: 30px !important;
}
.list {
    padding-top: 5px !important;
}
.subStreets {
    width: 100% !important;
}
.mob-coupon-code {
    margin-top: -28px !important;
}
.mob-coupon-code-input {
    border-bottom: 1px solid gainsboro!important;
}
.mob-coupon-code-label {
    width: 100% !important;
}
.popup-icon {
    position: absolute; 
    top: 13px; 
    right: 10px;
    cursor: pointer;
}
.stable-bg {
    background: #F1F5F8 !important;
}
.stable-bg-contact {
    background-color: #E0E0E0 !important;
}
.item.item-radio.ng-valid {
    float: left !important;
    width: 14% !important;
    border: 1px solid gainsboro;
    margin-left: 3px;
    border-radius: 3px !important;
}
.item-complex .item-content, 
.item-radio .item-content {
    padding: 3px 29px 5px 6px !important;
}
.item-radio .radio-icon {
    font-size: 14px !important;
}
.ion-checkmark:before {
    content: "";
    top: 8px !important;
    font-size: 10px;
    position: absolute !important;
    left: 17px !important;
}
.item-icon-right .icon {
    left: 3px !important;
    font-size: 20px!important;
}
.item-icon-right.item.ng-binding{
    padding-left: 46px !important;
}
.bookingConfirmation {
    background: #F4F8F9;
    padding: 14px;
}
.pickup-details {
    padding: 10px;
}
.back-icon {
    margin-left: 12px !important;
    margin-top: 5px !important;
}
.pickup-details-h5 {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 6px;
    color: black;
    margin: 2px 12px;
}
.StreetSubstreetName {
    color: #212121;
    margin-left: 12px;
    font-family: "Roboto", sans-serif !important;

}
.yourbookingfont {
    font-weight: 300;   
    font-size: 12px;
}
.ionicons-icons {
    color:black !important; 
    font-size: 14px !important; 
    margin-top:32px !important;
}
.yourbooking-all {
   /* margin-left: 16px;*/
    font-size: 13px;
    border-bottom: 1px solid gainsboro;
}
.image-slide {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 246px;
    margin: auto;
    z-index: 2;
    position: relative;
}
.menu-img {
    width:17px !important;
    color:#757575 !important;
    margin-top:0px !important;
    margin-left: 12px !important;
}
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') no-repeat ;
}
.item-divider {
    background-color: #64DD17 !important;
    padding-left: 16px;
}
.i > .application-icon {
	color: #777;
}
.booking_icon {
    font-size: 18px;
}
.booking_text_divider {
    font-size: 16px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: white; 
}
.booking-box-text {
    color: #fff;
    font-size: 100%;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    margin-left:5px;
}
.full-image {
    width: 45% !important;
}
.booking-box {
	background-color: transparent;
	color: #fff;
    margin: 10px;
}
.get-started {
	/*background: url("../img/getstarted.jpg") no-repeat center center fixed;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.booking-page{
    background: url("../img/getstarted2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.login-form {
	background: url("../img/getstarted.jpg") no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.pricing-page{
    background: url("../img/pricing-page.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.aboutUs-page{
    background: url("../img/about-us.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.contact-page{
    /*background: url("../img/getstarted2.jpg") no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.slide-img {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.profile-box {
    padding: 28px 16px;
    position: relative;
    /*background: url("../img/wallpaper-material-design-5.jpg") repeat;*/
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;*/
}
.profile-box-info {
    padding: 28px 16px;
    position: relative;
    background: url("../img/ds.png") repeat;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;*/
}
.profile-box-thumb {
    width: 65px;
    border-radius: 500px;
    border: 5px solid rgba(255,255,255,.1);
    position: absolute;
}
.profile-box .profile-box-details {
    margin-left: 80px;
    margin-top: 21px;
}
.profile-box-details > h4 {
	color: #fff;
}
.settings-icon {
    float: right !important;
    font-size: 26px !important;
    color: white !important;
}
.my-form {
   transition:all linear 0.5s;
   background: transparent;
 }
 .my-form.ng-invalid {
   background: transparent!important;
 }
 .royal, a.royal {
    color: rgb(136, 106, 234);
}
.royal {
    border-color: #8a6de9;
}
.royal i {
    color: #8a6de9;
}
.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}
.cd-timeline-content {
    position: relative;
    margin-left: 48px;
    background: white;
    border-radius: 0.25em;
  /*  border-color: #BDDFB3;*/
    border-style: solid;
    border-width: 2px;
    margin-bottom: 10px;
}
.timelineIcon {
    font-size: 25px;
    color: white;
}
.text-center{
    text-align: center;
}
.cd-timeline-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: #8a6de9;
    border-style: solid;
    border-width: 2px;
    padding-top: 5px;
    background: white;
}
.cd-container {
    width: 93%;
    max-width: 1132px;
    margin: 0 auto;
}
.cd-timeline {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 10px !important;
}
.cd-timeline::before {
    content: '';
    position: absolute;
    top: 39px;
    left: 18px;
    height: 100%;
    width: 4px;
    background: gray;
}
.cd-timeline-content::before {
    content: '';
    position: absolute;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
    border-right-color: inherit;
}
.container {
  margin: 0 auto;
  max-width: 600px;
}
.slider-slide {
  height: auto;
  text-align:center;
}
.input-label {
   margin-top: -2px !important;
   margin-left: 3px !important;
   font-size: 18px !important; 
}
.item-md-label {
    border: none;
}
.lbl-input-bottom {
    border-bottom: 1px solid gainsboro !important;
}
.item {
    border: none;
}
.all-input-field {
    width: 100%;
    margin-top: -15px !important;
    margin-bottom: -10px !important;
}
.item.item-input {
    left: -14px;
}
input:required {
    /*background-color: yellow;*/
    border-color: blue !important;
}
:required.required {
    border: none !important;
}
input.ng-pristine {
    /*background-color:yellow;*/
}
input.ng-touched.ng-invalid {
    /*background-color:white;*/
}
input.ng-touched.ng-valid {
    /*background-color:green;*/
}
.item-input input, .item-input textarea {
    width: 93% !important;
}
input[disabled], input[readonly]:not(.cloned-text-input), 
select[disabled], select[readonly], textarea[disabled], 
textarea[readonly]:not(.cloned-text-input) {
    background-color: #FFFFFF !important; 
}
.profile_label_box {
    margin-left: 10px !important;
}
.item-input input {
    /*display: inline-block;*/
    position: relative;
    left: 1px;
    right: -2px;
    border-bottom: 1px solid gainsboro !important;
}
.item-md-label .highlight {
    left: 1px !important;
}
.tabs-striped .tabs {
    background-color: #886aea!important;
}
#profile-image {
    display: block;
    border-radius: 100px;
    border: 1px solid #444;
    width: 60px;
    height: 60px;
    margin: 0px auto 0;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}
.item-md-label input {
    background-color: #FFFFFF !important;
    padding:1px !important;
    letter-spacing: 0px !important;
    color: black !important;
    border-bottom: 1px solid silver;
}
.item-md-label input:focus 
~ .input-label, .item-md-label input.used ~ 
.input-label {
    font-weight: normal !important;
    text-transform: none !important;
    color: #444 !important;
}
.item-md-label .input-label {
    color: #444 !important;
    letter-spacing: 0px !important;
    margin: 6px;
    padding: 0px !important;
}
.slider-slide_img{
  height: 495px !important;
  width: auto!important;
}
.date-time-select{
    margin-left: 2px;
    margin-top: -4px;
}
.section_all_btn {
    padding: 8px;
    border-left: 1px solid #B6B6B6;
    text-decoration: none;
}
.section_estimated {
    text-decoration: none;
    margin-right: 10px;
}
.row > span {
    margin-left: 77px;
    margin-top: -18px;
    color: red;
    font-size: 16px;
}
.select-date-time {
    background-color: transparent !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #f2f2f2;
}
.profile-text-label {
    margin-top: 15px;
}
.signUp-page {
    background-color: #FFFFFF;
}
.tmargin {
    margin-top: 15px !important;
}
.lbl_span-field {
    font-size:13px !important; 
    letter-spacing: 0 !important;
    color:#777 !important;
}
.all_icon {
    color:grey; 
    font-size: 14px;
    margin-top:22px;
}
.lbl_span-field_text {
    font-size: 13px !important;
    letter-spacing: 0 !important;
    color: white !important;
}
.col-getStarted {
    padding: 16px !important;
}
.getstarted-row {
    background-color: #B71C1C;
    margin-top: 7px;
    height: 110px;
}
.login_btn {
    margin: 30px 120px !important;
}
.text_input {
    color: black !important;
    letter-spacing: 0 !important;
}
.select-city {
    border: 1px solid gainsboro !important;
    padding: 12px !important;
    width: 100% !important;
}
/*.select-city:hover {
    background-color: rgba(60,74,85,0.6); 
}*/
.cur-pointer {
    cursor: pointer!important;
}
.pickup-row {
    border-bottom: 1px solid  gainsboro;
    margin-bottom: -7px;
}
.pickUp_line50 {
    border-right:1px solid gainsboro !important;
    margin-top: -5px !important;
    /*border-bottom: 1px solid gainsboro !important;*/
}
.dropUp_line50 {
    border-right:1px solid gainsboro !important;
    margin-top: -17px !important;
    /*border-bottom: 1px solid gainsboro;*/
}
.footer_tabs {
    background-color: #F8F9FB!important;
}
/*.popup {
  width: 400px;
  height: 430px !important;
}*/

.booking-popup .popup {
      /*width: auto;*/
      height: 430px !important;
}

.subStreets {
    border-bottom: 1px solid gainsboro !important;
}
.streets-h3 {
    margin-left: 5px !important;
}
.error-alert-popup {
   
}
.estimate-pricing-span {
    font-size: 100%;
    color: #444;
    margin-left: 5px;
    float: left;
}
.estimate-ion_row{
    border-bottom: 1px solid gainsboro;
    margin-bottom: 8px;
}
.estimate-ion_list {
    float: left !important;
    background-color: #FFFFFF !important;
    margin-bottom: 20px;
    /*padding-bottom: 17px;*/
}
.pricing-span {
    border-bottom: 1px solid gainsboro!important;
    padding: 10px;
    color: #444!important;
}
.estimate-ion-radio {
    background-color: #F8F9FB !important;
}
.estimate-ion-radio:hover,
.estimate-ion-radio:active,
.estimate-ion-radio.active {
    background-color: #e6e6e6 !important;
}
.ionic .item-radio input:checked + .radio-content .item-content{
    background-color: #e6e6e6 !important;
}
.item-thumbnail-left > img:first-child, 
.item-thumbnail-left .item-image, 
.item-thumbnail-left .item-content > img:first-child, 
.item-thumbnail-left .item-content .item-image {
    max-width: 50px !important;
    max-height: 50px !important;
}
.dark-primary-color    { background: #388E3C; }
.default-primary-color { background: #64DD17; }
.light-primary-color   { background: #C8E6C9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #8BC34A; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

.text-booking-page {
    color: #212121;
    font-size:12px; 
    text-transform:uppercase; 
    margin-left: 5px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

input[type='checkbox'] {
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  margin: 20px;
}

.status-box {
  /*margin: 20px auto;*/
  background: white;
  border-radius: 50%;
  border: 1px solid grey;
  width: 20px;
  height: 20px;
}

.circle {
  -webkit-transform: rotate(360deg);
  background: #9351A6;
  border-radius: 50%;
  /*margin: 20px auto;*/
  width: 20px;
  height: 20px;
}

.rotate {
  -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.status-textUp-value{
    width:5em!important;
    float:left!important;
    margin-left:-64px!important;
    word-wrap:break-word!important;
    font-size:12px!important;
    margin-top:10px!important;
    /*margin-left: -58px;
    position: relative;
    display: inline-block;
    top: -53px; */
}
.status-textDown-value{
    width:5em!important;
    float:left!important;
    margin-left: -66px!important;
    word-wrap:break-word!important;
    font-size:12px!important;
    margin-top:-50px!important;
}
.div_status{
    float:left;
    margin-top:-10px;
    margin-right: 40px;
}

.footer_estimate_price{
    position: absolute;
    top: 10px;
    left: 40px;
}
.footer_booknow {
    position: absolute;
    margin-top: 5px;
}
.fabinr {
    font-size:1.1rem!important; 
    margin-top:8px!important;
}
.text_underline {
    text-decoration: none;
}
.item .item-content.activated, 
.item .item-content.active, 
.item-complex.activated .item-content, 
.item-complex.active .item-content, 
.item.activated, .item.active {
    background-color: rgba(51,205,95,0.5);
}
.menu .avatar {
    height: 88px;
    width: 88px;
}
.menu.menu-left * {
    font-weight: bold;
}
.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.menu-open .ion-navicon:before {
    content: "\f2ca";
}
.bar.bar-balanced {
    background-color: #21B11E!important;
    border-color: #21B11E!important;
}
.menu_name{
    color:#fff;
    margin-left:24px;
    margin-top:14px;
}